Debug
/.vs/Engine/v14
/Engine.VC.db
/ipch/ENGINE-425c1599/*.ipch
build
directxtk_desktop_2015.2016.10.6.1
/settings.manifest
/*.opendb
/~AutoRecover.Engine.vcxproj
/~AutoRecover.Engine.vcxproj1
/~AutoRecover.Engine.vcxproj2
/Release
/resource.aps
/~$praca.docx
